    <script type="text/javascript" src="/javascripts/jqcloud-0.1.8.js"></script>
    <script src="/javascripts/frontend.js"></script>

<div class="posts">
    <% for(var i = (rows.length -1); i>=0; i--) {%>
    <h2><a href='/post/<%= rows[i]._id %>'><%= rows[i].title %></a></h2>
    <h4>Written by: <%= rows[i].author %> on <%= rows[i].date %></h4>
    <p><%- rows[i].body %></p>
    <h6>Revision: <%= rows[i]._rev.substring(0, rows[i]._rev.indexOf('-')) %></h6>
    <% if(rows[i].comments !== undefined)  { %>    
        <h5><a href='/post/<%= rows[i]._id %>'><%= (rows[i].comments.length)||0  %> Comments</a></h5>
    <% } %>
    <br>
    <% }%>
</div>

<div id="add_post">
    <input type="button" value="Add a post" id="add_post_button">
</div>

<!-- Adding in the tag cloud jQCloud plugin -->
<div id="tagcloud"></div>

