<div class="posts">
    <% for(var i=0; i<rows.length; i++) {%>
    <h2><%= rows[i].title %></h2>
    <h4>Written by: <%= rows[i].author %> on <%= rows[i].date %></h4>
    <p><%= rows[i].body %></p>
    <h6>Revision: <%= rows[i]._rev %></h6>
    <% }%>
</div>