<div class="posts">
    <h2><%= title %></h2>
    <h4>Written by: <%= author %> on <%= date %></h4>
    <p><%= body %></p>
    <h6>Revision: <%= rev %></h6>
    
    <h3>Comments</h3>
    <ul>
        <% for(var i=0; i<comments.length; i++) {%>
           <li><%= comments[i] %></li>
        <% } %>
        </ul>
</div>